<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-2">
            <div class="navbar-collapse">
                <div class="navbar-form">
                  <!-- Dropdown button -->
                  <div class="btn-group navbar-padding-left">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="modal('uploadfile')">{{'upload_files' | translate}}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">{{ 'DASHBOARD.TOGGLE_DROPDOWN' | translate }}</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="" ng-click="prepareNewFolder() && modal('newfolder')"><i class="glyphicon glyphicon-plus"></i> {{'new_folder' | translate}}</a></li>
                      <li><a href="" ng-click="modal('uploadfile')"><i class="glyphicon glyphicon-cloud-upload"></i> {{'upload_files' | translate}}</a></li>
                    </ul>
                  </div>
                <!--<button class="btn btn-primary btn-xs" ng-click="modal('uploadfile')">
                  <i class="glyphicon glyphicon-cloud-upload"></i> {{"upload_files" | translate}}
                </button>-->
              </div>
            </div>
          </div>
            <div class="col-sm-5 col-md-7 hidden-xs">
                <div ng-show="!config.breadcrumb">
                    <a class="navbar-brand hidden-xs ng-binding" href="">angular-filemanager</a>
                </div>
                <div ng-include="config.tplPath + '/current-folder-breadcrumb.html'" ng-show="config.breadcrumb">
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="navbar-collapse">
                    <div class="navbar-form navbar-right text-right">

                        <button class="btn btn-flat btn-sm" ng-click="modal('remove')" title="{{'remove' | translate}}"
                            ng-show="config.allowedActions.remove && (allowActionsWithSingleSelection() || allowActionsWithMultiSelection())">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>

                        <button class="btn btn-flat btn-sm" ng-click="download()" title="{{'download' | translate}}"
                                ng-show="config.allowedActions.download && !selectionHas('dir') && singleSelection()">
                            <i class="glyphicon glyphicon-cloud-download"></i>
                        </button>

                        <button class="btn btn-flat btn-sm" ng-click="addComment()" title="{{'comment' | translate}}"
                            ng-show="singleSelection() && !singleSelection().isFolder() && singleSelection().model.processingStatus === 'processed'">
                            <i class="glyphicon glyphicon-comment">
                                <span class="comment-count">{{commentList.length}}</span>
                            </i>
                        </button>
                        <!-- <button class="btn btn-flat btn-sm" ng-click="modal('startreportgeneration')" title="{{'startbatchreportgeneration' | translate}}"
                            ng-show="config.allowedActions.reportgeneration && singleSelection() && !singleSelection().isFolder() && singleSelection().model.processingStatus === 'processed'">
                            <i class="glyphicon glyphicon-play"></i>
                        </button> -->
                        
                        <button class="btn btn-flat btn-sm" ng-click="smartClick(singleSelection())" title="{{'open' | translate}}"
                            ng-show="singleSelection() && singleSelection().isFolder()">
                            <i class="glyphicon glyphicon-folder-open"></i>
                        </button>
                        
                        <div class="btn-group" uib-dropdown auto-close="outsideClick">
                            <button class="btn btn-flat btn-sm dropdown-toggle" type="button" id="dropDownMenuLang" uib-dropdown-toggle
                              aria-expanded="true">
                                <i class="glyphicon glyphicon-search mr2"></i>
                            </button>
                            <div uib-dropdown-menu class="dropdown-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="dropDownMenuLang">
                                <input type="text" class="form-control" ng-show="config.searchForm" placeholder="{{'search' | translate}}..." ng-model="$parent.query">
                            </div>
                        </div>

                        <button class="btn btn-flat btn-sm" ng-click="$parent.setTemplate('main-icons.html')" ng-show="$parent.viewTemplate !=='main-icons.html'"
                            title="{{'icons' | translate}}">
                            <i class="glyphicon glyphicon-th-large"></i>
                        </button>

                        <button class="btn btn-flat btn-sm" ng-click="$parent.setTemplate('main-table.html')" ng-show="$parent.viewTemplate !=='main-table.html'"
                            title="{{'list' | translate}}">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </button>

                        <!-- language dropdown is unnecessary -->
                        <!--<div class="btn-group" uib-dropdown>
                            <button class="btn btn-flat btn-sm dropdown-toggle" type="button" id="dropDownMenuLang" uib-dropdown-toggle aria-expanded="true">
                                <i class="glyphicon glyphicon-globe mr2"></i>
                            </button>

                            <ul uib-dropdown-menu class="dropdown-menu scrollable-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="dropDownMenuLang">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('hu')">{{"hungarian" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('en')">{{"english" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('zh')">{{"chinese" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('es')">{{"spanish" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('pt')">{{"portuguese" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('fr')">{{"french" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('de')">{{"german" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('he')">{{"hebrew" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('sk')">{{"slovak" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('ru')">{{"russian" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('ua')">{{"ukrainian" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('tr')">{{"turkish" | translate}}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('fa')">{{"persian" | translate}}</a></li>
                            </ul>
                        </div>-->

                        <div class="btn-group" uib-dropdown>
                            <button class="btn btn-flat btn-sm dropdown-toggle" type="button" id="more" uib-dropdown-toggle aria-expanded="true">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                            </button>

                            <ul uib-dropdown-menu class="dropdown-menu scrollable-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="more">
                                <li role="presentation" ng-show="config.allowedActions.createFolder" ng-click="prepareNewFolder() && modal('newfolder')">
                                    <!--<a href="#" role="menuitem" tabindex="-1">-->
                                    <a role="menuitem" href="" tabindex="-1">
                                        <i class="glyphicon glyphicon-plus"></i> {{"new_folder" | translate}}
                                    </a>
                                </li>
                                <li role="presentation" ng-show="config.allowedActions.upload" ng-click="modal('uploadfile')">
                                    <!--<a href="#" role="menuitem" tabindex="-1">-->
                                    <a role="menuitem" href="" tabindex="-1">
                                        <i class="glyphicon glyphicon-cloud-upload"></i> {{"upload_files" | translate}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
